@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.btn{
    padding: 14px 18px 14px 18px;
    background: white;
    border: 1px solid #C4C4C4;
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--mainColorOne);
    cursor: pointer;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn:hover{
    animation: scaler 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@media screen and (max-width: 1200px) {
   .btn{
       width: 35%;
   }
}



@keyframes scaler {
    0%{
        transform: scale(1);
        opacity: 100%;
    }
    50%{
        transform: scale(1.1);
        opacity: 100%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
