@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.btn{
    padding: 14px 18px 14px 18px;
    background: white;
    border: 1px solid #C4C4C4;
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--mainColorOne);
    cursor: pointer;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
   .btn{
       width: 35%;
   }
}