

@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.hero{
    padding-top: 50px !important;
    display: flex;
    padding: 0 6% 0 6%;
    background-color: white;
    color: var(--mainColorOne);
    overflow-y: hidden;
    overflow-x: hidden;
    /* position: relative; */
}

/* 
.hero > div{
    width: 100%;
} */

.hero_child{
    display: flex;
    margin-top: 11%;
    height: 510px;
}


/* LEFT SECTION */
.hero__leftSection{
    position: relative;
    flex: 1;
    transform: translateX(-100px);
    display: flex;
    flex-direction: column;
    opacity: 0;
}


.hero_leftControl{
    display: flex;
    height: 365px;
    flex-direction: column;
}

.hero__first{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: -45px ;
    padding-left: 1%;
    font-size: 20px;
}

.hero__second{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    margin: 0 0;
    width: auto;
}

.leftSectionCtrl{
    display: flex;
    align-items: baseline;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #54D670;
    margin-left: 7px;
    border-radius: 50px;
}

.leftSection__subtext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 20px;
    width: 87%;
}

.btnPostiton{
    width: auto;
    display: flex;
}

.btnPostiton a{
    animation: scaler 2s 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    width: 100%;
    text-decoration: none;
}


@keyframes scaler {
    0%,10%{
        transform: scale(1);
        opacity: 100%;
    }
    40%,50%{
        transform: scale(1.02);
        opacity: 100%;
    }
    90%,100%{
        transform: scale(1);
        opacity: 100%;
    }
}


.imageWrapper{
    width: 214px;
    display: flex;
    justify-content: center;
}

.imgControl{
    margin-bottom: 15px;
}


/* middle section */

.hero__middleSection{
    flex: 0.1;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: auto;
    /* animation: slideInRight 0.8s 1s ease-in forwards; */
    opacity: 0;
}


.hero__middleSection > span{
    display: flex;
    width: 20px;
}

.hero__middleSection a{
    text-decoration: none;
    color: var(--mainColorOne);
}

.middleSection__content{
    font-family: 'Segoe UI Variable', sans-serif;
    writing-mode: vertical-lr;
    unicode-bidi: bidi-override;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0; 
    position: relative;
    cursor: pointer;
}

.middleSection__content::after{
    position: absolute;
    content: "";
    border-left: .17em solid var(--mainColorOne);
    top: 0;
    bottom: 100%;
    left: -.3em;
    border-radius: 1em;
}

.middleSection__content:hover::after{
    animation: anchor-sideline 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; 

}

.middleSection__content:hover{
    text-decoration: none;
    animation: fader 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; 
}

@keyframes anchor-sideline {
    0%, 10% {
        top: 0;
        bottom: 100%;
        opacity: 100%;
    }
    40%, 60%{
        opacity: 50%;
        top: 0;
        bottom: 0;
    }
    90%, 100%{
        top: 100%;
        bottom: 0%;
        opacity: 100%;
    }
}

@keyframes fader {
    0%, 10% {
        opacity: 100%;
    }
    40%, 60%{
        opacity: 50%;
    }
    90%, 100%{
        opacity: 100%;
    }
}


.middleSection__content:nth-child(1){
    margin-top: 0;
}
.middleSection__content:nth-child(3){
    margin-bottom: 0;
}

.hero__middleSection > *{
    writing-mode: vertical-lr;
}

.hero__middleSection > hr{
    height: 100px;
    width: 4px;
    border: none;
    background: #54D670;
    border-radius: 3px;
    margin-top: 25px;
}



/* right Section */
.hero__rightSection{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    opacity: 0;
    /* animation: slideInRight 0.8s 1s ease-in forwards; */
}

.hero__rightSection_tag{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 11;
}

.hero__rightSection_tag:nth-child(1){
    background: url('../../assets/branding.png');
    top: 10px;
    left: -5px;
    background-repeat: no-repeat;
    background-size: 80%;
    
}
.hero__rightSection_tag:nth-child(2){
    background: url('../../assets/software\ engineer.png');
    top: 200px;
    right:-40px;
    background-repeat: no-repeat;
    background-size: 80%;
}

.hero__rightSection_tag:nth-child(3){
    background: url('../../assets/graphics.png');
    top: 300px;
    left: -15px;
    background-repeat: no-repeat;
    background-size: 80%;
}

.heroImage{
    background-image: url('../../assets/Image.png');
    width: inherit;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    height: 800px;
    top: -40px;
    right: -20px;
}

/* 
@keyframes slideInRight {
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} */


.experience{
    background-color: rgba(95, 92, 92, 0.193);
    height: 100vh;
    width: 100vw;
    position: fixed ;
    left: 0;
    z-index: 101;
    top: 0;
}

.experienceContainer{
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 80vw;
    position: fixed;
    z-index: 102;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 102;
    padding: 3% 5%;
    font-family: 'Segoe UI Variable', sans-serif;

}

.expContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.experiences{
    display: flex;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: auto;
    

}

.exp:nth-child(odd){
    margin-right: 4%;
}

.exp{
    background-color: var(--mainColorOne);
    color: white;
    width: 48%;
    position: sticky;
    margin: 2% 0;
    padding: 0 3%;
    box-sizing: border-box;
}

.exp > h1{
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
}

.exp span{
    font-weight: bold ;
    font-style: normal;
}

h1 > .firm{
    font-size: 18px;
}

.exp > span{
    font-weight: lighter;
    font-size: 15px;
    padding: 0;
}



@media screen and (max-width: 1200px) {
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        text-align: center;
        /* margin: 0 auto; */
        margin-top: 50px;
    }

    .hero_child{
        margin-top: 50%;
    }

    .hero_leftControl{
        align-items: center;
    }

    .leftSectionCtrl{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .btnPostiton a{
        justify-content: center;
    }

    .hero__firstControl{
        display: flex;
    }

    .hero__first{
        margin-bottom: -30px;
        padding-left: 5px;
    }


    .hero__second{
        font-size: 100px;
        height: 112px;
    }

    .txtControl{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .leftSection__subtext{
        width: 100%;
    }

    .hero__leftSectionParagraphDiv{
        margin-inline: auto;
    }

    .hero__latestWork{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .hero__middleSection{
        display: none;
    }
    
        
    .btnPostiton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
        
    .hero__latestWorkRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
    }

        
    .imgControl{
        /* margin-right: 15px; */
        margin-bottom: 15px;
    }


    .hero__rightSection{
       display: none;
    }

    .imageWrapper{
        width: 200px;
    }

    .imageWrapper:nth-child(5){
        display: none;
    }
    .imageWrapper:nth-child(6){
        display: none;
    }
}
