

@import url('http://fonts.cdnfonts.com/css/segoe-ui-variable');

.hero{
    /* border: 1px solid red; */
    margin-top: 85px;
    display: flex;
    /* overflow-x: hidden; */
}


.hero > div{
    width: 100%;
}

.hero__rightSection{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: row;
}

.hero__rightSection_tag{
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 11;
}

.hero__rightSection_tag:nth-child(1){
    background: url('../../assets/branding.png');
    top: 6%;
    left: 3%;
    background-repeat: no-repeat;
    background-size: 80%;
    
}
.hero__rightSection_tag:nth-child(2){
    background: url('../../assets/software\ engineer.png');
    top: 25%;
    right:0%;
    background-repeat: no-repeat;
    background-size: 80%;
}

.hero__rightSection_tag:nth-child(3){
    background: url('../../assets/graphics.png');
    top: 35%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: 80%;
}

.heroImage{
    background-image: url('../../assets/Image.png');
    height: 100%;
    width: inherit;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;

}

.hero__middleSection{
    flex: 0.1;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: auto;
    height: 115vh;
}


.hero__middleSection > span{
    position: absolute;
    display: flex;
}

.middleSection__content{
    font-family: 'Segoe UI Variable', sans-serif;
    writing-mode: vertical-lr;
    unicode-bidi: bidi-override;
    /* margin-bottom: 20px; */
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0; 
}

.middleSection__content:nth-child(1){
    margin-top: 0;
}
.middleSection__content:nth-child(3){
    margin-bottom: 0;
}

.hero__middleSection > *{
    writing-mode: vertical-lr;
}

.hero__middleSection > hr{
    height: 100px;
    width: 4px;
    border: none;
    background: #54D670;
    border-radius: 3px;
}

/* RIGHT SECTION */
.hero__leftSection{
    position: relative;
        /* border: 1px solid blue; */
    /* overflow-x: hidden; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero_leftControl{
    display: flex;
    height: 55vh;
    flex-direction: column;
    justify-content: center;
}

.hero__first{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: -45px ;
    padding-left: 1%;
    font-size: 20px;
}

.hero__second{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    color: #000000;
    margin: 0 0;
    width: auto;
}

.leftSectionCtrl{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #54D670;
    margin-left: 7px;
    border-radius: 50px;
}

.leftSection__subtext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 20px;
    width: 87%;
}

.btn{
    margin-top: 30px; /* 60px */
    padding: 15px 24px 15px 24px;
    background: white;
    border: 1px solid #C4C4C4;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #2A2A2A;
    cursor: pointer;
    width: 30%
}

.hero__latestWork{
    /* border: 2px solid black; */
}

.hero__latestWork > h2{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
    margin-bottom:1.875rem ; /*30px */
}

.hero__latestWorkRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageWrapper{
    width: auto;
    display: flex;
    
}

.imgControl{
    margin-right: 15px;
    margin-bottom: 15px;
}



@media screen and (max-width: 1200px) {
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        text-align: center;
        /* margin: 0 auto; */
        margin-top: 50px;
    }

    .hero__leftSectionParagraphDiv{
        margin-inline: auto;
    }

    .hero__latestWork{
        margin-bottom: 30px;
    }

    .hero__middleSection{
        display: none;
    }
    
}
