@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    background-color: white;
    height: 45px;
    color: var(--mainColorOne);
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    z-index: 99;
    width: 100vw;
    top: 0;
    left: 0;
}

.navControl{
    max-width: 1200px;
}

.scrolledClass{
    height: 90px;
    width: 100vw;
    -webkit-box-shadow: 1px 5px 20px -5px rgba(151, 151, 151, 0.146);; 
    box-shadow: 1px 5px 20px -5px rgba(151, 151, 151, 0.146);
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
}

.navControl{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* FIRST SECTION */
.nav__name{
    /* background: red; */
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    flex: 0.25;
}

/* SECOND SECTION */
.nav__middle{
    display: flex;
    justify-content: start;
    flex: 0.7 1;
    margin: 0 0 0 0;
}


.nav__middle li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 17px;
    line-height: 22px;
    border-color: transparent;
    margin-right: 60px;
    width: max-content;
}


.hideMenu{
    display: flex;
    display: flex;
    justify-content: start;
    flex: 0.7;
    margin: 0 0 0 0;
}

.hideMenu li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 17px;
    line-height: 22px;
    border-color: transparent;
    margin-right: 60px;
    width: max-content;
}

.nav_link {
    text-decoration: none;
    color: var(--mainColorOne);
    position: relative;
    height: inherit;
}

.nav_link::after{
    position: absolute;
    content: "";
    border-top: .13em solid var(--mainColorOne);
    right: 100%;
    left: 0;
    bottom: -.15em;
    border-radius: 1em;
}

.nav_link:hover{
    text-decoration: none;
    animation: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.nav_link:hover::after{
    right: 0;
    animation: anchor-underline 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


@keyframes scale {
    0%{
        transform: scale(1);
        opacity: 100%;
    }
    50%{
        transform: scale(1.2);
        opacity: 50%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes scaleRem {
    0%{
        transform: scale(1.05);
       
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scaleBtn {
    0%{
        transform: scale(1);
        opacity: 100%;
    }
    100%{
        transform: scale(1.05);
        opacity: 100%;
    }
}

@keyframes anchor-underline {
    0%, 10% {
        left: 0;
        right: 100%;
        opacity: 100%;
    }
    40%, 60%{
        left: 0;
        right: 0;
        opacity: 50%;
    }
    90%, 100%{
        left: 100%;
        right: 0;
        opacity: 100%;
    }
}

/* THIRD SECTION */
.nav__icons{
    /* background: orchid; */
    display: flex;
    justify-content: space-between;
    flex: 0.25;
}

.nav__icons a {
    color: var(--mainColorOne);
    display: flex;
    align-items: center;
}

.nav__icon{
    animation: scaleRem 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    font-size: 20px;
}

.nav__icon:hover{
    animation: scaleBtn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    /* transform: translateY(2);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.naav__mobileIcon{
    display: none;
}


@media screen and (max-width: 900px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 0;
        left: 0;
        margin-left: auto ;
        /* overflow-y: auto; */
        height: 45px;
        justify-content: flex-start;
    }

    .addnavH{
        height: 317px;
        
        transform: height 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    

    .navControl{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    /* this is the hamburger menu */
    .naav__mobileIcon{
        display: flex; 
        align-items: center;
        cursor: pointer;
        font-size: 35px;
        height:35px;
        width: 35px;
        color: var(--mainColorOne);
        transform: rotate(0deg) ;
        transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
       
        
    }

    .open_nav{
        transform: rotate(-90deg) ;
        transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .revealIcon{
        position: absolute;
        display: flex;
    }

    .nav__icons{
        display: none;
    }

    .nav__middle{
       position: absolute;
       width: 100%;
       z-index: 1300;
       left: 0;
       top: 85px;
       display: flex;
       flex-direction: column;
       margin: 0;
       box-sizing: border-box;
       align-items: center;
       justify-content: center;
    }

    .showMenu{
        animation: menuone 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        box-shadow: 2px 17px 21px -25px rgba(0,0,0,0.55);
        -webkit-box-shadow: 2px 17px 21px -25px rgba(0,0,0,0.55);
        -moz-box-shadow: 2px 17px 21px -25px rgba(0,0,0,0.55);
    }

    @keyframes menuone {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            top: 100px
        }
    }

    .hideMenu{
        opacity: 0;
        display: none;
    }

    .nav__middle li{
        padding: 15px 0;
    }


    #nav__hidden{
        position: absolute;
        left: 0px;
        top: 45px;
        background: black;
        opacity: 0.9;
        height: 95vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 25px;
        color: white ;
        z-index: 1000;
        /* transition: all 0.5s; */
        border-radius: 0 0 0 50%;
        height: 300px;
    }

    .nav__middle > li{
        color: var(--mainColorOne);
    }
}
