@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.contact_container{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI Variable', sans-serif;
    margin-top: 40px;
    overflow-x: hidden;
}

.contact_subtext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: -15px ;
    padding-left: 1%;
    font-size: 20px;
}

.contact_maintext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin: 0 0;
    width: auto;
}

.contact_bottom{
    margin: 40px 0 0 0 ;
    display: flex;
    flex-direction: row;
    /* color: white; */
}

.contact_bottom__details{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10%;
    justify-content: center;
}

.contact_bottom__details > p{
    margin: 0;
}

.contact_bottom__details span{
    font-weight: 700;
}


.contact_bottom__icons{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
}

.contact_bottom__icons > a{
    margin-right: 15px;
    color: var(--mainColorOne);
}

.contact_bottom__icons > div:hover{
    animation: scaler 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.contact_bottom__message{
    background-color: var(--mainColorOne);
    padding: 5% 12% 5% 8% ;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}

.contact_bottom_form{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid #47B25B;
    background-color: var(--mainColorOne);
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
    color: white;
}

.btn{
    margin-top: 30px;
}

.txtArea{
    height: 80px;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid #47B25B;
    background-color: var(--mainColorOne);
    width: 100%;
    margin-bottom: 15px;
    resize: none;
    color: white;
}

::placeholder{
    font-family: 'Segoe UI Variable', sans-serif;
    color: white;
}

@media screen and (max-width: 900px) {
    .contact_container{
        width: 100%;
    }
    .contact_bottom{
        margin: 40px 0 0 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .contact_bottom__details{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    } */

    .contact_top{
        display: flex;
        flex-direction: column;
    }

    .contact_b{
        display: flex;
        flex-direction: column;
    }

    .contact_bottom__message{
        padding-top: 15%;
        padding-bottom: 15%;
        width: 100%;
        box-sizing: border-box;
    }

    .contact_bottom__details{
        
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: var(--mainColorOne);
    }


}