@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.workContainer{
    margin-top: 0% ;
    padding: 5% 7% 0 7%;
    font-family: 'Segoe UI Variable', sans-serif;
}

.workMaintext{
    margin: 2% 0 2% 0;
}

.workTag{
    display: flex;
    margin-bottom: 2%;
    /* padding-left: 1%; */
    background-color: #08140A;
    width: 60%;
    /* justify-content: space-between; */
    
}

.workTag > div {
    width: 25%;
    padding: 5% 9%;
    color: white;
    font-family: 'Segoe UI Variable', sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
}


.clicked {
    background-color: var(--mainColorTwo);
    position: absolute;  
    overflow-x: hidden;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    right: 100%;
    bottom: 0;
    animation: clicked 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

}

@keyframes clicked {
    0%, 10% {
        right: 100%;
        opacity: 20%;
    }
    90%, 100%{
        right: 0;
        opacity: 100%;
    }
}

.clickText{
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    padding: 13% 0%;
    top: 0;
    bottom: 0;
}






.workDisplay{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.workPadding{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.workDisplayWrapper{
    width: auto;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.more{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.more:hover{
    animation: scaler 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.more > p {
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
}

.more > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px ;
}


.about_SkillLeft_subtext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: -15px ;
    padding-left: 1%;
    font-size: 20px;
}

.about_SkillLeft_maintext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin: 0 0;
    width: auto;
    padding-left: 1% ;
}


.workView{
    background-color: rgba(95, 92, 92, 0.193);
    height: 100vh;
    width: 100vw;
    position: fixed ;
    left: 0;
    z-index: 101;
    top: 0;
}

.workViewContainer{
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 80vw;
    position: fixed;
    z-index: 102;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 102;
    padding: 3% 5%;
    font-family: 'Segoe UI Variable', sans-serif;

}

.newcontain{
    height: 80vh;
}

.expContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.workviewFull{
    width: 100%;
}

.experiences{
    display: flex;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: auto;
    

}


.exp{
    background-color: var(--mainColorOne);
    color: white;
    width: 48%;
    position: sticky;
    margin: 2% 0;
    padding: 0 3%;
    box-sizing: border-box;
}

.genWork{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.workLength{
    height: 50vh;
    overflow: auto;
    padding:  2% 3% 0 3%;
}

.myPagination{
    background-color: var(--mainColorOne);
    height: 50px;
    margin: 2%;
    width: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0;
}

.green{
    background-color: var(--mainColorTwo);
    color: var(--mainColorOne);
}

@media screen and (max-width:1200px) {
    .workDisplayWrapper{
        width: 198px;
    }

    .workPadding{
        /* justify-content: center; */
        width: 400px;
    }

    .workTag{
        display: flex;
        width: 90%;
        margin-left: 4%;
    }

    .workMaintext{
        padding: 0 6% 0 6%;
    }

    
    .workTag > div {
        
        padding: 5% 6%;
    }
}

@media screen and (max-width: 900px) {
    .workContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .workPadding{
        width: 100%;
        box-sizing: border-box;
        padding: 5%;
    }

    .workDisplayWrapper{
        width: 100%;
    }

    .myPagination{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clickText{
        margin-bottom: 17px;
    }
    
}