@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');

.workContainer{
    padding: 2% 7% 0 7%;
    font-family: 'Segoe UI Variable', sans-serif;
}

.workMaintext{
    margin: 2% 0 2% 0;
}

.workTag{
    display: flex;
    margin-bottom: 2%;
    /* padding-left: 1%; */
    background-color: #08140A;
    width: 60%;
    /* justify-content: space-between; */

}

.workTag > div {
    width: 18%;
    padding: 5% 9%;
    color: white;
    font-family: 'Segoe UI Variable', sans-serif;
    font-weight: 700;
    text-align: center;
}


.workTag > div:nth-child(1) {
    background-color: #47B25B;
}

.workDisplay{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.workPadding{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.workDisplayWrapper{
    width: auto;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.workDisplayWrapper:hover{
    /* animation: scaler 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; */
}

.about_SkillLeft_subtext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: -15px ;
    padding-left: 1%;
    font-size: 20px;
}

.about_SkillLeft_maintext{
    font-family: 'Segoe UI Variable', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin: 0 0;
    width: auto;
    padding-left: 1% ;
}

@media screen and (max-width:1200px) {
    .workDisplayWrapper{
        width: 198px;
    }

    .workPadding{
        /* justify-content: center; */
        width: 400px;
    }

    .workTag{
        display: flex;
        width: 90%;
        margin-left: 4%;
    }

    .workMaintext{
        padding: 0 6% 0 6%;
    }

    
    .workTag > div {
        
        padding: 5% 6%;
    }
}