@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable');


.skillContainer{
    width: 150px;
    color: #54D670;
    height: auto; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillImage{
    font-size: 5rem;
    display: flex;
}

.skillText{
    color: var(--mainColorOne);
    font-size: 20px;
    margin-top: 0;
    font-family: 'Segoe UI Variable', sans-serif;
}


@media screen and (max-width: 1200px) {
    
    .skillImage{
        font-size: 3rem;
    }
    .skillContainer{
        width: 72px;
    }
    .skillText{
        color: var(--mainColorOne);
        font-size: 15px;
        margin-top: 0;
        font-family: 'Segoe UI Variable', sans-serif;
    }

}