@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    background-color: var(--mainColorOne);
    color: white;
    /* background: red; */
}


.null{

}

.natashaNav__mobileIcon{
    display: none;
}



/* FIRST SECTION */
.nav__name{
    /* background: red; */
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    flex: 0.25;
}

/* SECOND SECTION */
.nav__middle{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 200px;
}


.nav__middle > li{
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    line-height: 22px;
    border-color: transparent;
}




/* THIRD SECTION */
.nav__icons{
    /* background: orchid; */
    display: flex;
    justify-content: space-between;
    flex: 0.25;
}





@media screen and (max-width:1200px) {
    .nav > .nav__middle{
        margin: 0 75px;
    }
}

@media screen and (max-width: 900px) {
    .nav > .nav__middle{
        margin: 0px 10px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        margin-top: 0.5rem;
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav > .nav__middle{
        display: none;
    }

    /* this is the hamburger menu */
    .naav__mobileIcon{
        display: flex; 
        align-items: center;
        /* top: 2rem; */
        cursor: pointer;
        height:35px;
        width: 35px;
    }

    #nav__hidden{
        position: absolute;
        left: 0px;
        top: 45px;
        background: black;
        opacity: 0.9;
        height: 95vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 25px;
        color: white ;
        z-index: 1000;
        /* transition: all 0.5s; */
        border-radius: 0 0 0 50%;
    }

    .nav__middle > li{
        color: white;
    }
}


@media screen and (max-width: 900px) {
    .nav__icons{
        display: none;
    }
}

.nav__icons > div{
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    margin: 0 5px;
}